.about
	%h1 About
	%h3 Full-stack Software Engineer & Aspiring Product Manager.
	%p
	I'm a graduate student at Mills College studying Computer Science. I began as a Sociology major interested in entrepreneurship and business, who soon discovered her love for programming and creating new products. I am very passionate about mentorship and providing support for others. I am the
	%a{:href => "millscc.herokuapp.com/hackathon", :target => "_blank"}Tech4All Hackathon
	Co-Founder at my university, and the future Communities Chair for the 
	%a{:href => "http://anitaborg.org/", :target => "_blank"} Anita Borg Institute
	where I have an active role in promoting diversity in tech.
	%p
	%b What makes me different?
	I have a very diverse skillset that allows me to contribute to multiple facets of a project. In addition to being a programmer, I am a writer, artist, a meticulous organizer, product developer, public speaker, and a great team member. I love thinking through products, and learning the technologies to bring start-up ideas to life. I enjoy using my analytical abilities to come up with ideas and innovation solutions, and I pride myself in being creative and resourceful in tackling difficult challenges.
	%p
	I expect to graduate with a Master's degree in Computer Science in Fall 2016. If you'd like to learn more about me, I'd love to chat with you! 
	
