.designs
	%h1 Designs
	%p
	.alert-message.alert-message-info
		%h4
			Design Samples
		%p
			For more information on the designs shown on this page, click on the desired image to
			= succeed "." do
				%strong display details
			%p
				%b#pTitle

	.designsPage
		%table{:align => "center", :style => "margin: 0px auto;", :style => "width:48%"}
			%tr
				%td
					%input#b1{:onclick => "changeTitle(this.value);", :type => "image", :src => "assets/1-1.png", :width => "140px", :height => "140px", :value => "Tiger Eye &mdash; (Illustrator and Sketchbook Pro)"}
				%td
					%input#b2{:onclick => "changeTitle(this.value);", :type => "image", :src => "assets/2-1.png", :width => "140px", :height => "140px", :value => "Pusheen &mdash; (Facebook, Sketchbook Pro)"}
				%td
					%input#b3{:onclick => "changeTitle(this.value);", :type => "image", :src => "assets/3-1.png", :width => "140px", :height => "140px", :value => "Tech4All Hackathon T-shirt Design &mdash; (CustomInk, Google Draw)"}
			%tr
				%td
					%input#b4{:onclick => "changeTitle(this.value);", :type => "image", :src => "assets/4-1.png", :width => "140px", :height => "140px", :value => "Native American Women in Computing Logo"}
				%td
					%input#b5{:onclick => "changeTitle(this.value);", :type => "image", :src => "assets/5-1.png", :width => "140px", :height => "140px", :value => "Lion &mdash; (Colored Pencils)"}
				%td
					%input#b6{:onclick => "changeTitle(this.value);", :type => "image", :src => "assets/tech4all.png", :width => "140px", :height => "140px", :value => "Tech4All Hackathon Logo &mdash; (Photoshop)"}
			%tr
				%td
					%input#b7{:onclick => "changeTitle(this.value);", :type => "image", :src => "assets/7-1.png", :width => "140px", :height => "140px", :value => "NextList Android App Design &mdash; (Illustrator, Sketchbook Pro)"}
				%td	
					%input#b8{:onclick => "changeTitle(this.value);", :type => "image", :src => "assets/8-1.png", :width => "140px", :height => "140px", :value => "PinkThink Hackathon &mdash; (Sketchbook Pro, Photoshop)"}
				%td
					%input#b9{:onclick => "changeTitle(this.value);", :type => "image", :src => "assets/9-1.png", :width => "140px", :height => "140px", :value => "Tiger &mdash; (Colored Pencils)"}