.leadership
	%h1 Leadership
	%p
	.container
		.col-sm-5
			%nav.nav-sidebar
				%ul.nav.tabs
					%li.active
						%a{"data-toggle" => "tab", :href => "#tab1"} Anita Borg Institute: Communities Chair
					%li
						%a{"data-toggle" => "tab", :href => "#tab2"} Grace Hopper Celebration: TownHall Speaker
					%li
						%a{"data-toggle" => "tab", :href => "#tab3"} Tech4All Hackathon Co-Founder
					%li
						%a{"data-toggle" => "tab", :href => "#tab4"} Android App Inventor: Teaching Assistant
					%li
						%a{"data-toggle" => "tab", :href => "#tab5"} Expanding Your Horizons: Workshop Leader
					%li
						%a{"data-toggle" => "tab", :href => "#tab6"} ALDI: District Manager Trainee
					%li
						%a{"data-toggle" => "tab", :href => "#tab7"} U/U Mentorship: Program Founder
					%li
						%a{"data-toggle" => "tab", :href => "#tab8"} UCI: Peer Academic Advising Coordinator
					%li
						%a{"data-toggle" => "tab", :href => "#tab9"} UCI: Peer Academic Advisor
					

		.tab-content
			#tab1.tab-pane.active.text-style
				%h2 Future Communities Chair
				%p
					I have worked closely with the Anita Borg Institute and promoting women in tech efforts. I will be helping coordinate the 2016 Grace Hopper Conference in Houston, Texas. I will be joining the Communities committee as Future Communities Chair. I will work with multiple division of Anita Borg and  establish meaningful relations with our partners.
				%img{:src => "assets/ghc.png"}

			#tab2.tab-pane.text-style
				%h2 TownHall Speaker
				%p
					Recipient of a scholarship grant to attend the 2015 Grace Hopper Celebration of Women in Technology Conference. I gave a 40-minute presentation encouraging attendees to participate in hackathons by providing advice and sharing my experiences with the imposter syndrome.
				%img{:src => "assets/gracehopperspeaker.png"}
			#tab3.tab-pane.text-style
				%h2 Hackathon Co-Founder
				%p
					Along with a fellow classmate, we created the first hackathon at Mills College at our university. We are a liberal arts institution, and we wanted to celebrate the Interdisciplinary nature of our CS program -- thus inviting participants from all backgrounds, especially non-technical, to think of ways that technology can be used to help social causes in other disciplines.
				%p
				%img{:src => "assets/t4a.png", :id => "t4a"}
			#tab4.tab-pane.text-style
				%h2 Teaching Assistant
				%p
					One of six teaching assistants for the 2015 Summer Academic Workshop at Mills College. Employed App Inventor to teach first-generation college students how to build mobile applications to solve social issues. The team I advised was the 2nd place winning team; they built a social justice mobile application that reports police brutality in local areas.
				%p
				%img{:src => "assets/ai2.png"}
			#tab5.tab-pane.text-style
				%h2 Workshop Leader
				%p
					I volunteered for the 2016 Expanding Your Horizons STEM Conference for young girls, as one of their workshop leaders for the Computer Science workshop. We led a group of 30 middle school students through Code.org's Hour of Code platform. We aslo included in our presentation "next steps" past block code, and many of our students were intrigued and excited.
				%img{:src => "assets/eyh.png"}

			#tab6.tab-pane.text-style
				%h2 District Manager Trainee
				%p
					As one of the DMT's selected to assist the Aldi expansion into California, I trained in Chicago, IL where I learned the various facets of the business and the many responsibilities of Aldi employees to become an effective business leader. I assisted with business operations of 5 Aldi stores and 70 employees, with $680,000+ store revenue and facilitated information from the corporate office to district employees. I organized monthly budget reports, employee scheduling, sales reports and store productivity.
				%img{:src => "assets/aldi.png", :id => "aldi"}

			#tab7.tab-pane.text-style
				%h2 Mentorship Program Founder
				%p
					The U/U Mentorship Program serves incoming freshmen students and foster greater connections between new and continuing students. New incoming U/U freshmen who opt to participate are be paired with a continuing student mentor who makes regular contact and attends networking events with them throughout the year. In our first year we had over 300 members (and recruited 50 mentors), and the U/U Mentorship Program continues to be an important and permanent resource offered under the Division of Undergraduate.
				%img{:src => "assets/uci2.png", :id => "uci2"}
			#tab8.tab-pane.text-style
				%h2 Academic Advising Coordinator
				%p
					As the Coordinator for the 2012-2013 Peer Academic Advising Program, I led 52 Peer Advisors across 15 academic departments at UC Irvine. I constructed a 10-week training program from scratch with themes focused on technical training in counseling techniques, campus resources, public speaking, leadership development, university policies and procedures. I collaborated with departmental supervisors as the acting liaison among departmental supervisors, academic counselors, and student advisors.
				%img{:src => "assets/uci.png", :id => "uci"}
			#tab9.tab-pane.text-style
				%h2 Peer Academic Advisor
				%p
					One of six Peer Academic Advisors selected to serve the Undecided/Undeclared academic community of over 1,500 freshmen students. I am well-trained in university policies and procedures, academic counseling, conflict management, and public speaking. I maintained up-to-date records of all advising sessions/appointments and helped students develop their academic, leadership, and career goals.
				%img{:src => "assets/uci.png", :id => "uci"}

