.resumePage
	%h1 Resume
	%img{:src => "assets/resume1.png", :id => "resume1"}
	%img{:src => "assets/resume4.png", :id => "resume4"}
	%img{:src => "assets/resume2.png", :id => "resume2"}
	%img{:src => "assets/resume3.png", :id => "resume3"}
	%p
	%form{:action => "FayeCheng_Resume.pdf", :method => "get", :target => "_blank"}
		%button{:type => "submit", :class => "btn btn-info"} Download Resume

%br
%br
%br
%br
%br
%br
%br
%br

	