
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);

/****************************************************/
/* color schemes */
/****************************************************/

$cartoon-shirt-purple: #6C26CF;
$info-blue: #5bc0de;
$default-blue: #428bca;
$off-white: #eee8f3;

.about {
	margin-top: 20px;
	font-size: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 0px;
	font-size: 1.3em;
}

