.contact {
	#sf {
		float: left;
		border: 1px solid black;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	h2 {
		z-index: 1;
		position: absolute;
		font-size: 7em;
		left: 25%;
		right: 25%;
	}
	h4 {
		z-index: 1;
		position: absolute;
		margin-top: 110px;
		font-size: 3.3em;
		left: 25%;
		right: 25%;
	}
}
