@import "bootstrap-sprockets";
@import "bootstrap";
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* top-left, top-right, bot-right, bot-left */

/*********************************************************/
/* universal */
/*********************************************************/

body {
	position: relative;
	width: auto;
	min-width: 1050px;					/* set for project resize */
	margin-top: 65px;
	.homeDiv {
		margin-top: 30px;           /* home page */
	}

/*********************************************************/
/* background */
/*********************************************************/
	
	background-color: white;
}

/*********************************************************/
/* footer */
/*********************************************************/

html, body {				/* both need to be here */
    height: 93.5%;
}

#header {
    position: absolute;
}

#container {
    min-height: 100%;
    padding-top: 15px;
    margin-bottom: -20px;
}

* html #container {
    height: 100%;
}

.footerLinks {
	margin-top: -5px;
}

#footer {
	position: fixed;
	overflow: hidden;					/* overflow hidden! */
	bottom: 0;
	margin-bottom: 0px;
	padding-bottom: 0px;
	clear: both;
	width: 100%;
	height: 110px;
	background-color: #eaeaea;
	padding-left: 11%;
	padding-right: 10%;
}

#footerPic {
	width: 80px;
	height: 80px;
	border-radius: 100px;
	float: left;
	display: inline-block;
	border: 2px solid #575757;
	opacity: 0.85;
	margin-top: -5px;
}

.footerMiddle {
	width: 500px;
	height: 100%;
	display: inline-block;
	float: left;
	margin-left: 20px;
	color: #575757;
	font-size: 12px;
	margin-top: -3px;
	p {
		line-spacing: 0px;
		padding: 0px;
	}
}

.leftC {
	text-align: right;
	p {
		padding: 0px;
		margin: 0px;
	}
}

.rightC {
	text-align: left;
	p {
		padding: 0px;
		margin: 0px;
	}
}

.copyright {
	color: #7e7e7e;
	font-size: 12px;
	padding-right: 20px;
}

/*********************************************************/
/* typography */
/*********************************************************/

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

p {
	padding-top: 3px;
}

/*********************************************************/

.social:hover {
		 -webkit-transform: scale(1.1);
		 -moz-transform: scale(1.1);
		 -o-transform: scale(1.1);
 }
.social {
		color: #4343a1;
		 -webkit-transform: scale(0.8);
		 /* Browser Variations: */
		 
		 -moz-transform: scale(0.8);
		 -o-transform: scale(0.8);
		 -webkit-transition-duration: 0.5s;
		 -moz-transition-duration: 0.5s;
		 -o-transition-duration: 0.5s;
}

