.leadership {

	margin-top: 15px;
	font-size: 14px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 0px;

	.container {
		align-content: center;
		border: 5px solid black;
		padding: 0px;
		width: 98%;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: white;
	}

	.col-sm-5 {
		padding-left: 0px;
	}

	.blogShort{ border-bottom:1px solid #ddd;}
	.add{background: #333; padding: 10%; height: 300px;}

	.nav-sidebar { 
			width: 100%;
			border-right: 3px solid black;
	}
	.nav-sidebar a {
			color: #333;
			-webkit-transition: all 0.08s linear;
			-moz-transition: all 0.08s linear;
			-o-transition: all 0.08s linear;
			transition: all 0.08s linear;

			z-index: 40;
			background-color: #ededed;
	}
	.nav-sidebar .active a { 
			cursor: default;
			background-color: #0b56a8; 
			color: #fff; 
	}
	.nav-sidebar .active a:hover {
			opacity: 0.7;
	}
	.nav-sidebar .text-overflow a,
	.nav-sidebar .text-overflow .media-body {
			white-space: nowrap;
			overflow: hidden;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis; 
	}

	.btn-blog {
			color: #ffffff;
			background-color: #E50000;
			border-color: #E50000;
			border-radius:0;
			margin-bottom:10px
	}
	.btn-blog:hover,
	.btn-blog:focus,
	.btn-blog:active,
	.btn-blog.active,
	.open .dropdown-toggle.btn-blog {
			color: white;
			background-color:#0b56a8;
			border-color: #0b56a8;
	}
	article h2{color:#333333;}
	h2{color:#0b56a8;}
	 .margin10{margin-bottom:10px; margin-right:10px;}
	 
	.container .text-style
	{
		margin-top: -5px;
		line-height: 23px;
		font-size: 15px;
		padding: 15px;
		margin-left: 370px;
		margin-right: 15px;
		text-align: center;
		img {
			align: center;
			width: 50%;
			height: 50%;
		}
		#aldi {
			width: 60px;
			height: 75px;
		}
		#uci {
			width: 180px;
			height: 60px;
		}
		#uci2 {
			width: 150px;
			height: 60px;
		}
		#t4a {
			width: 350px;
			height: 100px;
		}
	}

}
