.publicationsPage {

	margin-top: 15px;
	font-size: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 0px;

	.caption {
		text-align: center;
		padding-top: 15px;
	}

	.col-md-5 {
		img {
			border: 1px solid black;
			width: 350px;
			height: 200px;
			box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		img:hover {
			opacity: 0.8;
		}
	}

	.fa{
		display: inline-block;
	}

	.col-md-7 {
		font-size: 15.5px;
		b {
			font-size: 18px;
			font-family: arial, helvetica, sans-serif;
		}
	}

	p {
		padding: 0px;
		margin-top: 0px;
	}

	h2 {
		margin-top: -8px;
		font-size: 26px;
	}

	.center {
		text-align: center;
		align: center;
	}

	#custom_carousel {
		border: 3px solid black;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		padding-top: 12px;
	}

	#custom_carousel .item {
		padding:30px 0;
		height: 275px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#custom_carousel .controls{
		overflow-x: auto;
		overflow-y: hidden;
		padding:0;
		margin:0;
		white-space: nowrap;
		text-align: center;
		position: relative;
		background: none;

		img {
			width: 50px;
			height: 50px;
		}
	}
	#custom_carousel .controls li {
		display: table-cell;
		width: 1%;
		max-width:90px;
		background: #80bbf2;
	}

	#custom_carousel .controls a small {
		overflow:hidden;
		display:block;
		font-size:13px;
		margin-top:5px;
		color: white;
	}

/**************************************************************/

}