.resumePage {
	margin-top: 20px;
	font-size: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 0px;
	img {
		width: 100%;
		height: 100%;
	}
	#resume1 {
		margin-bottom: -5px;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
	}
	#resume4 {
		width: 100%;
		height: 100%;
		margin-top: -5px;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
	}
	#resume2 {
		margin-top: -5px;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
	}
	#resume3 {
		border-left: 1.5px solid #d4d4d4;
		border-right: 1.5px solid #d4d4d4;
		border-bottom: 1.5px solid #d4d4d4;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
	}
}