#footer
  %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
  %br
    .footerLinks
      %img{:src => "assets/self-bw-1.png", :id => "footerPic"}
      .footerMiddle
        %b Email //
        fayehcheng(at)gmail.com
        %p
          %b LinkedIn //
          linkedin.com/in/fayehcheng
        %b GitHub //
        github.com/fhcheng
        %p
          %b HackerRank //
          hackerrank.com/fhcheng
      .text-right.right-block
        %a{:href => "https://www.linkedin.com/in/fayehcheng", :target => "_blank"}
          %i.fa.fa-linkedin-square.fa-3x.social
        %a{:href => "https://github.com/fhcheng", :target => "_blank"}
          %i.fa.fa-github-square.fa-3x.social
        %a{:href => "https://bitbucket.org/fhcheng/", :target => "_blank"}
          %i.fa.fa-bitbucket-square.fa-3x.social
        %a{:href => "https://twitter.com/fayehcheng", :target => "_blank"}
          %i.fa.fa-twitter-square.fa-3x.social
        %a{:href => "mailto:fayehcheng@gmail.com", :target => "_blank"}
          %i.fa.fa-envelope-square.fa-3x.social
        %br
        .copyright
          Copyright &copy; 2016 Faye Cheng