.projectsTop
	#carousel1.carousel.slide.carousel-fade{"data-ride" => "carousel"}
		%ol.carousel-indicators
			%li.active{"data-slide-to" => "0", "data-target" => "#carousel1"}
			%li{"data-slide-to" => "1", "data-target" => "#carousel1"}
			%li{"data-slide-to" => "2", "data-target" => "#carousel1"}
		.carousel-inner
			.active.item
				%img{:src => "assets/i2share.png", :id => "i2share_1"}
			.item
				%img{:src => "assets/createProject1.png", :id => "i2share_2"}
			.item
				%img{:src => "assets/myProfile.png", :id => "i2share_3"}
		%a.carousel-control.left{"data-slide" => "prev", :href => "#carousel1"} ‹
		%a.carousel-control.right{"data-slide" => "next", :href => "#carousel1"} ›
	.projectDetails
		%h1 i2share
		%h2 Project Sharing
		
		.projectTable
			%table
				%tr
					%td
						%b Role:
					%td
						%b Lead Front-end Developer
				%tr
					%td
						%b Website:
					%td
						%a{:href => "http://www.i2share.com", :target => "_blank"} www.i2share.com
						(not yet launched)
				%tr
					%td
						%b Status:
					%td Currently in production
				%tr
					%td
						%b Tools:
					%td Ruby on Rails, HTML/CSS, Javascript, Bootstrap, Vagrant, Chef, Git, Bitbucket
%br
	.projectDescription
		%b Description:
		dgtg
		%p 
			%b Product sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs
			sdfdfs