.projectsTop
	#carousel5.carousel.slide.carousel-fade{"data-ride" => "carousel"}
		%ol.carousel-indicators
			%li.active{"data-slide-to" => "0", "data-target" => "#carousel5"}
			%li{"data-slide-to" => "1", "data-target" => "#carousel5"}
			%li{"data-slide-to" => "2", "data-target" => "#carousel5"}
		.carousel-inner
			.active.item
				%img{:src => "assets/tech4all.png", :id => "tech4all_1"}
			.item
				%img{:src => "assets/tech4all2.png", :id => "tech4all_2"}
			.item
				%img{:src => "assets/tech4all3.png", :id => "tech4all_3"}
		%a.carousel-control.left{"data-slide" => "prev", :href => "#carousel5"} ‹
		%a.carousel-control.right{"data-slide" => "next", :href => "#carousel5"} ›
	.projectDetails
		%h1 Tech4All
		%h2 Mills College Hackathon
		
		.projectTable
			%table
				%tr
					%td
						%b Role:
					%td
						%b Co-Founder and Coordinator
				%tr
					%td
						%b Website:
					%td
						%a{:href => "http://www.millscc.herokuapp.com/hackathon", :target => "_blank"} www.millscc.herokuapp.com/hackathon
				%tr
					%td
						%b Status:
					%td Completed - Spring 2016
				%tr
					%td
						%b Tools:
					%td Google Drive, Trello, Photoshop, Canva, Heroku
%br
	.projectDescription
		%h3 Description
		%p My fellow classmate and I founded the first annual Mills College Tech4All hackathon. As Computer Science students at a liberal arts college, we were inspired to create a space that intertwines technology and interdisciplinary education to empower students to truly create solutions that address real-world problems. We assembled various committees and I was responsible for coordinator and planning, content writing, publicity, and graphic design. I helped with the hackathon conceptualization, planning, and execution. I also created the flyers and the hackathon descriptions and documentation.
		%h3 Product
		%p The theme of our hackathon is “Past. Present. Future.” The world is rapidly changing, and a lot of it is due to the fast-moving technology sector. The buzz word usually associated with tech is “disruption” -- but is “disruptive” necessarily “destructive”? We are living in a unique time, where we have a say in how we shape our future. The goal of our hackathon is to address and solve problems caused by a changing future coming into conflict with aspects of the past. What can we do to preserve the parts of our lives that are at risk of being lost? Instead of thinking about technology as disrupting our connection to the past, we invite you to find ways to use technology to address community issues, and honor our past while embracing the future.